source https://api.nuget.org/v3/index.json
framework >= net462

nuget Castle.Core 3.3.0
nuget Castle.Windsor 3.3.0
nuget System.Reactive 3.1.1
nuget System.Reactive.Core 3.1.1
nuget System.Reactive.Interfaces 3.1.1
nuget System.Reactive.Linq 3.1.1
nuget System.Reactive.PlatformServices 3.1.1
nuget System.Reactive.Windows.Threading 3.1.1